# PHP packages
/vendor
composer.phar
composer.lock

# Compiled documentation (run `grunt docs` for HTML; `grunt pdfdocs` for PDF)
/docs-html/
/docs-pdf/

# Test coverage output
/test-coverage/

# Operating system files
.DS_Store
