# PHP packages
/composer.lock
/vendor

# phpDocumentor
/api-docs/
/phpdoc.xml

# Test app
/laravel-template/
/test-app/composer.lock
/tmp/

# Test output
/build/
/test-coverage/
/tests/storage/

# Operating system files
.DS_Store
