dist: trusty
sudo: false
language: php

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 7.2
  - 7.1

env:
  matrix:
    - Laravel=5.7
    - Laravel=5.6

install:
  - travis_retry composer require --dev "laravel/framework:${Laravel}.*" --no-interaction

script:
  - phpunit --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry php vendor/bin/coveralls -v
