dist: trusty
sudo: false
language: php

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 7.1
  - 7.0

install:
  - travis_retry composer install --no-interaction

script:
  - phpunit --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry php vendor/bin/coveralls -v
