<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	bootstrap="tests/bootstrap.php"
	checkForUnintentionallyCoveredCode="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	verbose="true"
>

	<!-- List of files with tests inside -->
	<testsuites>
		<testsuite name="Package Test Suite">
			<directory suffix=".php">tests/unit/</directory>
			<directory suffix=".php">tests/integration/</directory>
		</testsuite>
	</testsuites>

	<!-- List of source files for code coverage checker -->
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>

</phpunit>
